<!--NO USER BOX-->
<!--<div class="container">
  <div class="row" ng-if="user && user.isLoggedIn === false">
    <div class="col s10 offset-s1 m6 offset-s3 l6 offset-s3">
      <br><br><br>
      <div class="card">
        <div class="card-content">
          <span class="card-title">WOOPS!</span>
          <br>
          <span class="alt-contact-text center-text">There's nothing here.  If you are an administrator, please <a href="#/login">log in</a> to access your administrator account.</span>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!--END NO USER BOX-->

<!--<div class="container" ng-if="(user && user.isLoggedIn === true) || (user && user.email.length > 0)"> -->
<div class="container">
  <br>
  <nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo">ADMIN</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a ng-click="showUsers();">USERS</a></li>
        <li><a ng-click="showReservations();">RESERVATIONS <span class="new badge" ng-if="newMessageCount > 0">{{newMessageCount}}</span></a></li>
        <li><a ng-click="showData();">DATA</a></li>
      </ul>
    </div>
  </nav>
  <br>

  <!--USERS VIEW -->
  <div class="row">
    <div class="col s12">

      <table ng-if="accountViewModelState.viewUsers">
        <thead>
          <tr>
            <th data-field="name">Name</th>
            <th data-field="phone">Phone</th>
            <th data-field="email">Email</th>
            <th data-field="pets">View Pets</th>
            <th data-field="reservations">View Reservations</th>
            <th data-field="price">View Data</th>
            <th data-field="ban">Ban User</th>
          </tr>
        </thead>

        <tbody ng-if="dataLoading === false;">
          <tr ng-repeat="user in users" id="{{user.email}}">
            <td>{{user.last}}, {{user.first</td>
            <td>{{displayPhone}}</td>
            <td><a href="mailto:{{user.email}}">{{user.email}}<a></td>
            <td><a ng-click="showUserPets(user.email)" ng-if="user.pets.length > 0">PETS</a><a ng-if="user.pets.length === 0"><!--DISABLED BUTTON--></a></td>
            <td><a ng-click="showUserReservations(user.email)" ng-if="user.reservations.length > 0">RESERVATIONS</a><a ng-if="user.reservations.length === 0"><!--GREYED OUT PETS BUTTON--></a></td>
            <td><!--<ban-user-button></ban-user-button>--></td>
          </tr>
        </tbody>

        <div class="row" ng-if="dataLoading === true">
          <div class="col s12" id="admin-loading-wheel">
            <!-- <admin-loading-wheel></admin-loading-wheeel-->
          </div>
        </div>

      </table>
      
    </div>
  </div>

  <!--RESERVATIONS VIEW -->
  <div class="row">
    <div class="col s12">

    <table ng-if="accountViewModelState.viewReservations">
      <thead>
      <tr>
      <th data-field="name">Date</th>
      <th data-field="phone">Service</th>
      <th data-field="email">Name</th>
      <th data-field="pets">Pets</th>
      <th data-field="reservations">Booked On</th>
      <th data-field="price">View Data</th>
      <th data-field="ban">Approve/Reject Reservation</th>
      </tr>
      </thead>

      <tbody ng-if="dataLoading === false;">
        <tr ng-repeat="reservation in loadedUser.reservations" id="{{reservation.email}}">
          <td>{{reservation.last}}, {{reservation.first</td>
          <td>{{displayPhone}}</td>
          <td><a href="mailto:{{reservation.email}}">{{reservation.email}}<a></td>
          <td><a ng-click="" ng-if="reservation.pets.length > 0">PETS</a><a ng-if="reservation.pets.length === 0"><!--DISABLED BUTTON--></a></td>
          <td><a ng-click="" ng-if="reservation.reservations.length > 0">RESERVATIONS</a><a ng-if="reservation.reservations.length === 0"><!--DISABLED BUTTON--></a></td>
          <td> 
          <!--<ban-user-button></ban-user-button>--></td>
        </tr>
      </tbody>

      <div class="row" ng-if="dataLoading === true">
        <div class="col s12" id="admin-loading-wheel">
          <!-- <admin-loading-wheel></admin-loading-wheeel-->
        </div>
      </div>

    </table>
      
    </div>
  </div>

  <!--DATA VIEW -->
  <div class="row">
    <div class="col s12">
      
    </div>
  </div>

   
</div>