<!--NO USER BOX-->
<!--<div class="container">
  <div class="row" ng-if="user && user.isLoggedIn === false">
    <div class="col s10 offset-s1 m6 offset-s3 l6 offset-s3">
      <br><br><br>
      <div class="card">
        <div class="card-content">
          <span class="card-title">WOOPS!</span>
          <br>
          <span class="alt-contact-text center-text">There's nothing here.  If you are an administrator, please <a href="#/login">log in</a> to access your administrator account.</span>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!--END NO USER BOX-->

<!--<div class="container" ng-if="(user && user.isLoggedIn === true) || (user && user.email.length > 0)"> -->
<div class="container">

  <br>
  <nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo">ADMIN</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a ng-click="showUsers();">USERS</a></li>
        <li><a ng-click="showReservations();">RESERVATIONS <span class="new badge" ng-if="newMessageCount > 0">{{newMessageCount}}</span></a></li>
        <li><a ng-click="showData();">DATA</a></li>
      </ul>
    </div>
  </nav>
  <br>

  <!--USERS VIEW -->
  <div class="row" ng-if="adminViewModelState.viewUsers">
    <div class="col s12">

      <table class="striped">
        <!-- USER TABLE - HEAD -->
        <thead>
          <tr>
            <th data-field="name">Name</th>
            <th data-field="phone">Phone</th>
            <th data-field="email">Email</th>
            <th data-field="pets">View Pets</th>
            <th data-field="reservations">View Reservations</th>
            <th data-field="price">View Data</th>
            <th data-field="ban">Ban User</th>
          </tr>
        </thead>
        <!-- END USER TABLE - HEAD -->

        <!-- USER TABLE - BODY -->
        <tbody ng-show="loadingData === false;">
          <tr ng-repeat="user in users" id="{{user.email}}">
            <td>{{user.last}}, {{user.first}}</td>
            <td>{{user.displayPhone}}</td>
            <td><a href="mailto:{{user.email}}">{{user.email}}<a></td>
            <td><a ng-click="loadUserPets(user.email)" ng-if="user.pets.length > 0">PETS</a><a ng-if="user.pets.length === 0"><!--DISABLED BUTTON--></a></td>
            <td><a ng-click="loadUserReservations(user.email)" ng-if="user.reservations.length > 0">RESERVATIONS</a><a ng-if="user.reservations.length === 0"><!--GREYED OUT PETS BUTTON--></a></td>
            <td><!-- VIEW DATA BTN --></td>
            <td><!--<ban-user-button></ban-user-button>--></td>
          </tr>

          <tr ng-repeat="user in users" ng-if="user.showingPets === true">

            <td>
              <table id="pets-table">
                <thead>
                  <tr class="pet-header">
                    <td data-field="name">NAME</td>
                    <td data-field="owner">OWNER</td>
                    <td data-field="species">SPECIES</td>
                    <td data-field="breed">BREED</td>
                    <td data-field="color">COLOR</td>
                    <td data-field="age">AGE</td>
                    <td data-field="foodBrand">FOOD BRAND</td>
                    <td data-field="foodServings">FOOD SERVINGS</td>
                    <td data-field="foodAllergies">FOOD ALLERGIES</td>
                    <td data-field="comments">COMMENTS</td>
                    <td><a ng-click="hideUserPets()"><remove-item-icon></remove-item-icon>&nbsp;CLOSE</a></td>
                  </tr>
                </thead>

                <tbody>
                  <tr class="pet-data" ng-repeat="pet in user.pets">
                    <td>{{pet.name}}</td>
                    <td>{{pet.owner}}</td>
                    <td>{{pet.type}}</td>
                    <td>{{pet.breed}}</td>
                    <td>{{pet.color}}</td>
                    <td>{{pet.age}}</td>
                    <td>{{pet.foodBrand}}</td>
                    <td>{{pet.foodServings}}</td>
                    <td>{{pet.foodAllergies}}</td>
                    <td>{{pet.comments}}</td>
                    <td><p></p></td>
                  </tr>
                </tbody>

              </table>
             

            </td>
          </tr>
          



        </tbody>
        <!-- END USER TABLE - BODY -->

        <!-- LOADING ICON PLACEHOLDER -->
        <div class="row" ng-show="loadingData === true">
          <div class="col s12" id="admin-loading-wheel">
            <!-- <admin-loading-wheel></admin-loading-wheeel-->
          </div>
        </div>
        <!-- END LOADING ICON PLACEHOLDER -->

      </table>
      
    </div>
  </div>
  <!-- END USERS VIEW -->

  <!--RESERVATIONS VIEW -->
  <div class="row" ng-if="adminViewModelState.viewReservations">
    <div class="col s12">

    <table class="striped">
      <thead>
      <tr>
      <th data-field="name">Check-In Date</th>
      <th data-field="name">Check-Out Date</th>
      <th data-field="phone">Service</th>
      <th data-field="email">Name</th>
      <th data-field="reservations">Booked On</th>
      <th data-field="details">View Details</th>
      <th data-field="ban">Approve/Reject Reservation</th>
      </tr>
      </thead>

      <tbody ng-if="loadingData === false;">
        <tr ng-repeat="reservation in reservations" id="{{reservation.email}}">
          <td>{{reservation.checkInDate}}</td>
          <td>{{reservation.checkOutDate}}</td>
          <td>{{reservation.service}}</td>
          <td>{{reservation.owner}}</td>
          <td>{{reservation.created_at}}</td>
          <td>VIEW DETAILS BUTTON</td>
          <td>APPROVE REJECT BUTTON</td>
        </tr>
      </tbody>

      <div class="row" ng-if="loadingData === true">
        <div class="col s12" id="admin-loading-wheel">
          <!-- <admin-loading-wheel></admin-loading-wheeel-->
        </div>
      </div>

    </table>
      
    </div>
  </div>

  <!--DATA VIEW -->
  <div class="row">
    <div class="col s12">
      
    </div>
  </div>

   
</div>