.action-item {
  color: white; }

.push {
  height: 100px; }

.parallax-container {
  height: 200px; }

.secondary-image {
  max-width: 75%;
  height: auto; }

.about-subtext {
  font-style: italic; }

#gallery-img {
  width: 200em; }
