.action-item {
  color: white; }

#social-icon {
  height: 50px;
  width: 50px; }
  #social-icon:hover {
    opacity: 0.5;
    color: #3b8e3f; }

.push {
  height: 25px; }

.parallax-container {
  height: 200px; }

.splash-img {
  opacity: 0.75; }

#splash-text {
  text-transform: uppercase; }

.about-subtext {
  font-style: italic; }

.map {
  position: relative;
  padding-bottom: 25%;
  overflow: hidden; }

.map iframe {
  width: 100%;
  height: 100%;
  frameborder: 0px;
  style: "border:0"; }

#gallery-img {
  width: 200em; }
