<div class="parallax-container hide-on-med-and-up">
  <div class="parallax">
    <img class="splash-img" src="https://s-media-cache-ak0.pinimg.com/736x/17/47/3b/17473b78cfb5cb7e030660311128a216.jpg">
  </div>
</div>

<!--TO DO: REPLACE FALLBACK IMAGE WITH ACTUAL FILE-->

  <video autoplay muted loop poster="dog.jpg" class="video-bg hide-on-small-only ">
    <source src="https://0.s3.envato.com/h264-video-previews/e3de6ca2-7def-4510-bb81-bfc0d95d6a5c/8729636.mp4" type="video/mp4"> 
    <!--<source src="https://0.s3.envato.com/h264-video-previews/c4d192c6-ce3e-43d3-8885-5f5ffd7b8027/11967536.mp4" type="video/mp4">--> 
    <!-- <source src="https://0.s3.envato.com/h264-video-previews/c5d315a7-a391-484f-9095-a9f1db91ad10/13973534.mp4" type="video/mp4"> -->
   </video>
   <!-- TEXT DIVIDER -->
  <div id="divider-text" >
    <nav class="grey darken-1" id="top-scroll" name="top"> 
       <div class="nav-wrapper">
         <a href="#" class="brand-logo center">24/7 play and stay.<br><p>Stop in for a play-date or board overnight in our cozy kennel </p></a>
       </div>
     </nav>
  </div>
   <!-- END TEXT DIVIDER -->   


<div class="container">  
  <div class="row">
    <div class="splash-cont col s9 align center">
      <h3 id="splash-main" class="animated bounceInDown">Your Pet's Home <br> Away From Home</h3>
      <h5 id="splash-tag" class="animated fadeInDown" delay="500">Metro-West Boston's Premier Pet Boarding</h5>
      <br>
      <h5 id="splash-since" class="animated fadeInDown" delay="500">since 2006</h5>
      <br><br><br><br><br><br><br><br><br>
      <div class="scroll-btn animated fadeInDown">
        <a class="back-to-top waves-effect waves-blue-grey lighten-1 btn" scroll-to-item scroll-to="#top-scroll" id="scroll-box">LEARN MORE</a>
      </div>
    </div>


    <!-- USER MGMT BUTTON -->
    <div class="fixed-action-btn horizontal" style="bottom: 75px; right: 24px;">
       <a class="btn-floating red tooltipped" ng-if="user && user.isLoggedIn === true" data-position="top" data-delay="25" data-tooltip="Your Account" href="#/account">
          <i class="small material-icons">account_circle</i>
       </a>

       <a class="btn-floating red tooltipped" ng-if="user && user.isLoggedIn === false" data-position="top" data-delay="25" data-tooltip="Login or Signup" href="#/book">
        <i class="small material-icons">input</i>
       </a>


       <ul ng-if="user.isLoggedIn === true">
         <li><a class="btn-floating grey tooltipped" ng-click="logOut()"><i class="material-icons">settings_power</i></a></li>
         <li ng-if="user.admin === true"><a class="btn-floating red" href="#/admin"><i class="material-icons">supervisor_account</i></a></li>
         <!--<li><a class="btn-floating green tooltipped" href="#/user_profile"><i class="material-icons">mode_edit</i></a></li>-->
       </ul>
     </div>
     <!-- END USER MGMT BUTTON -->
  </div>  
  

     

  <div class="row">

    <div class="col s12 m4">
      <div class="grow card red darken-1">
        <div class="card-content white-text">
          <span class="card-title">Dog Boarding</span>
          <dog-icon></dog-icon>
          <hr>
          <li class="thin">Starting from $40/night</li>
        </div>
        <div class="card-action align center">
          <a href="#/book" class="matcard-action-text">BOOK NOW</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="grow card red darken-1">
        <div class="card-content white-text">
          <span class="card-title">Cat Boarding</span>
          <cat-icon></cat-icon>
          <hr>
          <li class="thin">Starting from $30/night</li>
        </div>
        <div class="card-action align center">
          <a href="#/book" class="matcard-action-text">BOOK NOW</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="grow card red darken-1">
        <div class="card-content white-text">
          <span class="card-title">Daycare</span>
          <kennel-icon></kennel-icon>
          <hr>
          <li class="thin">Same day pick-up &amp; drop-off</li>
        </div>
        <div class="card-action align center">
          <a href="#/book" class="matcard-action-text">BOOK NOW</a>
          
        </div>
      </div>
    </div>
    <br>
  </div>
  <!-- END SERVICE CARDS -->

  <!-- GALLERY VIEW + LEARN MORE BUTTON-->

  <div class="row align center" id="gallery-images">
    <div class="col s4">img here</div>
    <div class="col s4">img here</div>
    <div class="col s4">img here</div>
  </div>

  <div class="row">
    <div class="col s12 align center center-block" id="more-info-button" >
      <a class="waves-effect waves-blue-grey lighten-1 btn center-text" href="#/viewAbout"><i id="info-icon" class="material-icons">info_outline</i> <span class="more-info-text ">WANT MORE INFORMATION?</span></a>
    </div>
  </div>
  <!-- END GALLERY VIEW + LEARN MORE BUTTON-->

  <div class="row">
    <div class="center col s12 m12">
      <h5>140 Summer Street | Holliston, MA 01746 | 508-429-1500</h5>
    </div>
  </div>
  <div class="row">
    <div class="center col s12 m12">
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d378453.38235656713!2d-71.71568362275936!3d42.178803!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e4713a8e86037d%3A0xc06fb01cade2c775!2sHolliston+Meadows+Pet+Resort!5e0!3m2!1sen!2sus!4v1452092193487" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<footer>

