<div class="push"></div>

  <div class="push"></div>
  <div class="container" ng-if="refresh === false;" id="matcard-action-advance">

  <p>{{registrationError}}</p>

    <!--INTRO CARDS-->
    <div class="row center-text" ng-show="viewModelState.intro === true">
      <div class="col s6 grow">
        <div class="card blue-grey lighten-1">
          <div class="card-content white-text matcard-intro">
            <span class="card-title">RETURNING GUESTS</span>
            <p class="thin matcard-desc-text">Login &amp; book a stay</p>
            <new-user-icon></new-user-icon>
          </div>
          <div class="card-action thin white-text">
            <a ng-click="returningUser();" class="matcard-action-text" id="actionButtonReturningUser">&nbsp;&nbsp;BOOK NOW</a>
          </div>
        </div>
      </div>
      <div class="col s6 grow">
          <div class="card blue-grey lighten-1">
            <div class="card-content white-text matcard-intro">
              <span class="card-title">FIRST TIMERS</span>
              <p class="thin matcard-desc-text">Sign up &amp; book in minutes</p>
              <returning-user-icon></returning-user-icon>
            </div>
            <div class="card-action thin white-text">
              <a ng-click="addNewUser()" class="matcard-action-text" id="actionButtonNewUser">&nbsp;&nbsp;BOOK NOW</a>
            </div>
          </div>
        </div>
      </div>

      <!--LOGIN CARD  -->
      <div ng-show="viewModelState.loginUser === true">
        <div class="row">
          <div class="col s10 offset-s1">
            <div class="card white">
              <div class="cart-content" ng-hide="loginLoading === true">
                <div class="row">
                  <div class="col s10 offset-s1">
                    <br>
                    <span class="card-title" class="thin">LOGIN:</span>
                    <br>
                    <br>
                      <label for="loginUserEmail">E-Mail:</label>
                      <input id="loginUserEmail" type="text" ng-model="loginUserObject.username"></input>
                      <label for="loginUserPass">Password:</label>
                      <input id="loginUserPass" type="password" ng-model="loginUserObject.password"></input>
                    <br><br>

                    <div class="row">
                      <div class="col s6">
                        <a class="waves-effect waves-light btn" ng-click="loginUser(loginUserObject);" ng-class="{'disabled': loginLoading === true}"><i class="material-icons left">input</i>LOGIN</a>
                      </div>
                      <div class="col s6">
                        <a class="waves-effect waves-light btn"><i class="material-icons left">info_outline</i>FORGOT PASSWORD?</a>
                      </div>
                    </div>
                    <br><br>
                  </div>

                  <div class="col s10 offset-s1" ng-show="loginLoading === true">
                    <span>LOADING...</span><br><br>
                    <img src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif" class="login-loading-wheel"/>
                  </div>


                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <!-- RETURNING USER CARDS -->
      <div class="row center-text" ng-show="viewModelState.returningUser === true">
        <div class="col s6 grow" id="matcard-action-returning">
          <div class="card blue-grey lighten-1">
            <div class="card-content white-text matcard-intro">
              <span class="card-title">BOARDING</span>
              <p class="thin matcard-desc-text">Overnight stays starting from $35/night.<br></p>
              <boarding-icon></boarding-icon>
            </div>
            <div class="card-action thin white-text">
              <a ng-click="serviceSelect('boarding');" class="matcard-action-text" id="actionButtonReturningUser">BOOK NOW</a>
            </div>
          </div>
        </div>
        <div class="col s6 grow" id="matcard-action-new">
            <div class="card blue-grey lighten-1">
              <div class="card-content white-text matcard-intro">
                <span class="card-title">DAYCARE</span>
                <p class="thin matcard-desc-text" style="padding-top: 0.75em;">Drop-off or pick-up all-day play &amp; stay.</p>
                <daycare-icon></daycare-icon>
              </div>
              <div class="card-action thin white-text">
                <a ng-click="serviceSelect('daycare');" class="matcard-action-text" id="actionButtonNewUser">BOOK NOW</a>
              </div>
            </div>
          </div>
        </div>

      <!-- NEW USER VIEWS -->

      <div class="row" ng-if="viewModelState.newUser === true">
        <h3 class="thin">{{registrationTitle}}</h3>
        <ul class="pagination">
            <li ng-show-"viewModelState.newUserStep >= 1"><a><i class="material-icons">chevron_right</i></a></li>
           <li ng-class="{'active': viewModelState.newUserStep === 1, 'waves-effect': viewModelState.newUserStep !== 1}"><a>1</a></li>
           <li ng-class="{'active': viewModelState.newUserStep === 1, 'waves-effect': viewModelState.newUserStep !== 1}"><a>2</a></li>
           <li ng-class="{'active': viewModelState.newUserStep === 1, 'waves-effect': viewModelState.newUserStep !== 1}"><a>3</a></li>
           <li ng-class="{'active': viewModelState.newUserStep === 1, 'waves-effect': viewModelState.newUserStep !== 1}"><a>4</a></li>
           <li ng-class="{'disabled': viewModelState.newUserStep === 4, 'waves-effect': viewModelState.newUserStep !== 1}"><a><i class="material-icons">chevron_right</i></a></li>
         </ul>
           <div class="row" id="registration-form-container" ng-if="refresh === false">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <div ng-if="$rootScope.registrationError" class="error-text">
                    <p>Error: {{$rootScope.registrationError.message}}</p>
                  </div>
                 <div class="row">
                   <form class="col s12">
                      <div class="row" ng-if="viewModelState.newUserStep === basicInfo">
                         <div class="input-field col s6">
                           <input id="first_name" type="text" ng-model="newOwner.first">
                           <label class="active" for="first_name">First Name</label>
                         </div>
                         <div class="input-field col s6">
                           <input id="last_name" type="text" ng-model="newOwner.last">
                           <label class="active" for="last_name">Last Name</label>
                         </div>
                       </div>
                       <div class="row" ng-show="viewModelState.newUserStep === basicInfo">
                       <div class="input-field col s6">
                         <p style="white-space: nowrap;">
                           <input id="phone" type="text" ng-model="phArea" style="width: 2em;" maxlength="3"> - <input id="phone" type="text" ng-model="ph1" style="width: 2em;" maxlength="3"> - <input id="phone" type="text" ng-model="ph2" style="width: 3em;" maxlength="4">
                           <label class="active" for="phone">Phone</label>
                         </p>
                       </div>  
                       <div class="input-field col s6">
                         <input id="email" type="email" ng-model="newOwner.email">
                         <label class="active" for="email">Email</label>
                       </div>
                      </div>

                        <div class="row" ng-if="viewModelState.newUserStep = 'addressInfo'">
                         <div class="input-field col s4">
                           <input id="street" type="text" ng-model="newOwner.street">
                           <label class="active" for="street">Street Address</label>
                         </div>
                         <div class="input-field col s4">
                           <input id="city" type="text" ng-model="newOwner.city">
                           <label class="active" for="city">City</label>
                         </div>
                         <!--Need to bind select value to newOwner-->
                         <div class="input-field col s2">
                           <select id="state-select">
                             <option value="MA">MA</option>
                             <option value="RI">RI</option>
                             <option value="CT">CT</option>
                             <option value="NH">NH</option>
                             <option value="ME">ME</option>
                             <option value="NY">NY</option>
                             <option value="NJ">NJ</option>
                           </select>
                           <label  for="state">State</label>
                         </div>
                         <div class="input-field col s2">
                           <input id="zip" type="text" ng-model="newOwner.zip" maxlength="5">
                           <label class="active" for="zip">Zip Code</label>
                         </div>
                       </div>

                       <div class="row" ng-if="viewModelState.newUserStep = 'addressInfo'">
                         <div class="col s10">
                           <label class="active" for="hospital">Name of Your Animal Hospital</label>
                           <input id="hospital" type="text" ng-model="newOwner.hospital">
                         </div>
                       </div> 
                       <div class="row" ng-if="viewModelState.newUserStep.basicInfo === true">
                         <div class="col s6">
                           <label class="active" for="password">Choose a password</label>
                           <input id="password" type="password" ng-model="newOwner.password">
                         </div>
                         <div class="col s6">
                           <label class="active" for="passwordConfirm">Confirm your password</label>
                           <input id="passwordConfirm" type="password" ng-model="newOwner.passwordConfirm">
                         </div>
                       </div>
                   </form>
                 </div>
               </div>

                <div class="card-action">
                  <a ng-click="signUp()">Next</a>
                </div>
              </div>
            </div>
          </div>
      </div>
  <!-- END NEW USER VIEWS -->



  <!--ADD BOARDING RESERVATION VIEW-->
  <ul class="pagination" ng-if="viewModelState.newReservation === true" style="margin-left: 4em;">
    <li ng-class="{'active': viewModelState.resStep === 1, 'disabled': viewModelState.resStep !== 1}"><a>1</a></li>
    <li ng-class="{'active': viewModelState.resStep === 2, 'disabled': viewModelState.resStep !== 2}"><a >2</a></li>
    <li ng-class="{'active': viewModelState.resStep === 3, 'disabled': viewModelState.resStep !== 3}"><a>3</a></li>
  </ul>
  <br>

  <div class="row" ng-if="viewModelState.newReservation === true && serviceSelected === 'boarding'">
    <div class="row" id="registration-form-container" ng-if="refresh === false" ng-if="viewModelState.addPet === false">
      <div class="col s10 offset-s1 card">
        <h3 class="thin">{{reservationTitle}}</h3>
        <div class="card-content">
          

          <div ng-show="viewModelState.resStep === 1">
            <div class="input-field col s6" ngMouseup="setDate()">
              <input id="check-in-date" class="datepicker" type="date" ng-model="newReservation.checkInDate" min="currentDate">
              <label class="active" for="check-in">Check-In Date</label>
            </div>
            <div class="input-field col s6" ngMouseup="setDate()">
              <input id="check-out-date" class="datepicker" type="date" ng-model="newReservation.checkOutDate" min="checkInDate">
              <label class="active" for="check-out">Check-Out Date</label>
            </div>

            <div class="input-field col s6">
              <input id="check-in-time" type="text" ng-model="newReservation.checkInTime" placeholder="HH:MM (i.e. 04:30)">
              <label for="check-in-time" class="active">Est. Check-In Time</label>
            </div>

            <div class="input-field col s6">
              <input id="check-out-time" type="text" ng-model="newReservation.checkOutTime" placeholder="HH:MM (i.e. 04:30)">
              <label for="check-out-time" class="active">Est. Check-In Time</label>
            </div>  

            <div class="row">
              <div class="col s12">
                <form id ="foodRadioButtons">
                  <label for="foodRadioButtons">Are You Bringing Your Own Food?</label>
                    <div class="row">
                      <div class="col s6">
                        <p>
                          <input class="with-gap" name="foodRadios" type="radio" id="ownFoodYes" />
                          <label for="ownFoodYes">Yes</label>
                        </p>
                        <p>
                          <input class="with-gap" name="foodRadios" type="radio" id="ownFoodNo" />
                          <label for="ownFoodNo">No</label>
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12">
                        <label for="textarea1">Additional Notes &amp; Comments</label>
                        <textarea id="textarea1" class="materialize-textarea" ng-model="newReservation.comments"></textarea>
                      </div>
                    </div>
              </div>
            </div>
        </div>

        <!--ADD PETS VIEW -->
        <div class="row" ng-if="viewModelState.resStep === 2">
          <div class="col s12" ng-if="user.pets.length > 0;">
            <h5 class="thin">Your Pets:</h5>
            <li>
              <ul ng-repeat="pet in user.pets;">{{pet.name}}</ul>
            </li>
          </div>

          <div class="row">
            <div class="col s10 offset-s1">
              <div ng-if="user.pets.length ===0" class="alt-contact-text">
                <span>You currently have no pets saved.  Click <a ng-click="showPetForm();">'Add a Pet'</a> to add a pet to your reservation.</span>
              </div>
              <br>
              <a class="waves-effect waves-light btn" ng-click="showPetForm();"><i class="small material-icons">library_add</i>&nbsp;&nbsp;ADD A PET</a>
            </div>
          </div>

          
          </div>
        </div>

        

  
        <div class="row" ng-if="reservationError">
          <p>ERROR</p>
        </div>

        <div class="card-action align left" ng-if="viewModelState.resStep !== 1">
          <i class="material-icons small">play_arrow</i><a ng-click="backReservationStep();" class="matcard-action-text">{{reservationBackButton}}</a>
        </div>

        <div class="card-action align right" ng-if="viewModelState.resStep !== viewModelState.maxUserSteps">
          <a ng-click="advanceReservationStep();" class="matcard-action-text" ng-class="{'disabled': user.pets.length === 0}" >{{reservationFwdButton}}</a><i class="material-icons small">play_arrow</i>
        </div>

        </div>
      </div>
    </div>
  <!--END BOARDING RESERVATION VIEW--> 

  <!--ADD PETS VIEW -->
    <!-- SELECT SPECIES CARDS -->
    <div ng-show="viewModelState.addPet === true && viewModelState.addPetStep === 1;">
      <h4 class="thin">{{addPetTitle}}</h4>
      <br>
      <div class="row">
        <div class="row center-text">
          <div class="col s6 grow">
            <div class="card blue-grey lighten-1" id="add-dog-card">
              <div class="card-content white-text matcard-intro">
                <span class="card-title">DOG</span>
                <p class="thin matcard-desc-text">Man's Best Friend</p>
                <i class="pet-icon-new"><add-dog-icon></add-dog-icon></i>
              </div>
              <div class="card-action thin white-text">
                <a ng-click="setSpecies('dog');" class="matcard-action-text" id="actionButtonReturningUser">&nbsp;&nbsp;ADD DOG</a>
              </div>
            </div>
          </div>
          <div class="col s6 grow">
              <div class="card blue-grey lighten-1" id="add-cat-card">
                <div class="card-content white-text matcard-intro">
                  <span class="card-title">CAT</span>
                  <p class="thin matcard-desc-text">Finicky But Friendly</p>
                  <i class="pet-icon-new"><add-cat-icon></add-cat-icon></i>
                </div>
                <div class="card-action thin white-text">
                  <a ng-click="setSpecies('cat')" class="matcard-action-text" id="actionButtonNewUser">&nbsp;&nbsp;ADD CAT</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END SELECT SPECIES CARDS -->

      <!-- PET INFO CARD -->
      <div ng-show="viewModelState.addPet === true && viewModelState.addPetStep >= 2;">
        
        <div class="row">
          <div class="column s10 offset-s1">
            <div class="card" id="pet-content">

              <div class="row">
                <div class="col s4">
                  <div class="card-title">
                    <h4 class="thin pet-info-title">{{addPetTitle}}</h4>
                    <h6 ng-if="viewModelState.addPetStep > 2">(cont.)</h6>
                  </div>
                </div>
                <div class="col s5 offset-2">
                  <div class="pet-icon-new-dark" ng-if="newPet.type === 'dog'"><add-dog-icon></add-dog-icon></div>
                  <div class="pet-icon-new-dark" ng-if="newPet.type === 'cat'"><add-cat-icon></add-cat-icon></div>
                </div>
              </div>


              <div class="card-content" ng-if="viewModelState.addPetStep === 2">
                <div class="row">
                  <div class="col s4">
                    <label for="pet-name">Name</label>
                    <input type="text" id="pet-name" ng-model="newPet.name" class="input-field"/>
                  </div>
                  <div class="col s4">
                    <label for="pet-breed">Breed (Optional)</label>
                    <input type="text" id="pet-breed" ng-model="newPet.breed" class="input-field"/>
                  </div>
                  <div class="col s4">
                    <label for="pet-color">Color</label>
                    <input type="text" id="pet-color" ng-model="newPet.color" class="input-field"/>
                  </div>
                </div>

                <div class="col s8">
                  <div class="row">
                    <div class="col s4">
                      <label for="pet-age">Age</label>
                      <input type="number" maxlength="2" id="pet-age" ng-model="newPet.age"/>
                    </div>
                    <div class="col s4">
                      <label for="pet-weight">Weight (lbs.)</label>
                      <input type="number" maxlength="3" id="pet-weight" ng-model="newPet.weight"/>
                    </div>
                    <div class="col s4"></div>
                  </div>

                  <div class="row">
                    <div class="col s4">
                      <label for="pet-brand">Food Brand or Type</label>
                      <input type="text" id="pet-brand" ng-model="newPet.foodBrand"/>
                    </div>
                    <div class="col s8">
                      <label for="pet-servings">Food Servings (Amt./day + Times/Day)</label>
                      <input type="text" id="pet-servings" ng-model="newPet.foodServings"/>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col s12">
                      <label for="pet-allergy">Food Allergies</label>
                      <input type="text" id="pet-allergy" ng-model="newPet.foodAllergy"/>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col s12">
                      <label for="textarea1">Additional Notes &amp; Comments</label>
                      <textarea id="textarea2" class="materialize-textarea" ng-model="newPet.comments"></textarea>
                    </div>
                  </div>

                </div>

                <div class="col s4">
                  <!--PET SIZE ICON GOES HERE-->
                </div>
              </div>
              <!-- END PET INFO CARD CONTENT-->

              <!-- PET INFO CARD BUTTONS -->
              <div class="card-action thin">
                <a ng-click="addPet(newPet)" class="matcard-action-text right">&nbsp;&nbsp;ADD {{displayedSpecies}}</a>
              </div>


            </div>
          </div>
        </div>
      </div>
        <!-- END PET INFO CARD -->




  <!--ADD DAYCARE RESERVATION VIEW-->
  <div class="row" ng-if="viewModelState.newReservation === true && serviceSelected === 'daycare'">daycare</div>

  <!--END DAYCARE RESERVATION VIEW-->  




  

  <!--BACK BUTTON-->
  <br>
  <div ng-hide="viewModelState.intro === true && viewModelState.loginUser === false;">
    <a ng-click="goHome();" class="thin" style="font-size: 1.1em;">GO BACK</a>
  </div>

  <div class="row">
    <div class="col s8 offset-s2 center-text alt-contact-text">Prefer to book over the phone?  Call us at 508-429-1500</div>
  </div>
</div>

