<div class="push"></div>

  <div class="push"></div>
  <div class="container" ng-if="refresh === false;" id="matcard-action-advance">

    <!--INTRO CARDS-->
    <div class="row center-text" ng-show="viewModelState.intro === true">
      <div class="col s6 grow">
        <div class="card blue-grey lighten-1">
          <div class="card-content white-text matcard-intro">
            <span class="card-title">RETURNING GUESTS</span>
            <p class="thin matcard-desc-text">Login &amp; book a stay</p>
            <new-user-icon></new-user-icon>
          </div>
          <div class="card-action thin white-text">
            <a ng-click="returningUser();" class="matcard-action-text" id="actionButtonReturningUser">&nbsp;&nbsp;BOOK NOW</a>
          </div>
        </div>
      </div>
      <div class="col s6 grow">
          <div class="card blue-grey lighten-1">
            <div class="card-content white-text matcard-intro">
              <span class="card-title">FIRST TIMERS</span>
              <p class="thin matcard-desc-text">Sign up &amp; book in minutes</p>
              <returning-user-icon></returning-user-icon>
            </div>
            <div class="card-action thin white-text">
              <a ng-click="addNewUser()" class="matcard-action-text" id="actionButtonNewUser">&nbsp;&nbsp;BOOK NOW</a>
            </div>
          </div>
        </div>
      </div>

      <!--LOGIN CARD  -->
      <div ng-show="viewModelState.loginUser === true">
        <div class="row" ng-if="refresh === false" id="registration-form-container">
          <div class="col s10 offset-s1">
            <div class="card white">
              <div ng-hide="loginLoading === true">
                <div class="row">
                  <div class="col s10 offset-s1">
                    <br>
                    <span class="card-title" class="thin">LOGIN:</span>
                    <br>
                    <br>
                      <label for="loginUserEmail">E-Mail:</label>
                      <input id="loginUserEmail" type="text" ng-model="loginUserObject.username"></input>
                      <label for="loginUserPass">Password:</label>
                      <input id="loginUserPass" type="password" ng-model="loginUserObject.password"></input>
                    <br><br>

                    <div class="row">
                      <div class="col s6">
                        <a class="waves-effect waves-light btn thin" style="width: 12em;" ng-click="loginUser();" ng-class="{'disabled': loginLoading === true}"><i class="material-icons left">input</i>LOGIN</a>
                      </div>
                      <div class="col s6">
                        <a class="waves-effect waves-light btn thin"><i class="material-icons left">info_outline</i>FORGOT PASSWORD?</a>
                      </div>
                    </div>
                    <div class="row" >
                      <div class="col s6">
                        <a class="waves-effect waves-light red btn thin" style="width: 12em;" ng-click="addNewUser()"><i class="material-icons left">mode_edit</i>REGISTER</a>
                      </div>
                    </div>
                  <br>
                </div>

                <div class="col s6 offset-s2 error-text" ng-if="registrationError.length !== 0">
                  <p>{{registrationError}}</p>
                </div>

                <div class="col s10 offset-s1" ng-show="loginLoading === true">
                  <span>LOADING...</span><br><br>
                  <img src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif" class="login-loading-wheel"/>
                </div>

              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

      <!-- RETURNING USER CARDS -->
      <div class="row center-text" ng-show="viewModelState.returningUser === true">
        <div class="col s6 grow" id="matcard-action-returning">
          <div class="card blue-grey lighten-1">
            <div class="card-content white-text matcard-intro">
              <span class="card-title">BOARDING</span>
              <p class="thin matcard-desc-text">Overnight stays starting from $35/night.<br></p>
              <boarding-icon></boarding-icon>
            </div>
            <div class="card-action thin white-text">
              <a ng-click="serviceSelect('boarding');" class="matcard-action-text" id="actionButtonReturningUser">BOOK NOW</a>
            </div>
          </div>
        </div>
        <div class="col s6 grow" id="matcard-action-new">
          <div class="card blue-grey lighten-1">
            <div class="card-content white-text matcard-intro">
              <span class="card-title">DAYCARE</span>
              <p class="thin matcard-desc-text" style="padding-top: 0.75em;">Drop-off or pick-up all-day play &amp; stay.</p>
              <daycare-icon></daycare-icon>
            </div>
            <div class="card-action thin white-text">
              <a ng-click="serviceSelect('daycare');" class="matcard-action-text" id="actionButtonNewUser">BOOK NOW</a>
            </div>
          </div>
        </div>
      </div>

      <!-- NEW USER VIEWS -->
      <div ng-if="viewModelState.newUser === true">
        <h3 class="thin">{{registrationTitle}}</h3>
        <ul class="pagination">
           <li id="left-chevron" ng-hide="viewModelState.newUserStep === 'basicInfo'"><a ng-click="backNewUser()"><i class="material-icons" >chevron_left</i></a></li>
           <li ng-class="{'active': viewModelState.newUserStep === 'basicInfo', 'waves-effect clickable-element': viewModelState.newUserStep !== 'basicInfo'}"><a>1</a></li>
           <li ng-class="{'active': viewModelState.newUserStep === 'addressInfo', 'waves-effect clickable-element': viewModelState.newUserStep !== 'addressInfo'}"><a>2</a></li>
           <li ng-class="{'active': viewModelState.newUserStep === 'passwordInfo', 'waves-effect clickable-element': viewModelState.newUserStep !== 'passwordInfo'}"><a>3</a></li>
           <li id="right-chevron" ng-hide="viewModelState.newUserStep === 'passwordInfo'"><a ng-click="advanceNewUser();"><i class="material-icons">chevron_right</i></a></li>
        </ul>
      </div>

      <div class="row" ng-if="viewModelState.newUser === true">
        <div class="col s12">
          <div class="card" id="registration-form-container" ng-if="refresh === false">
            <div class="card-content">

            <div id="basic-info-fields" ng-show="viewModelState.newUserStep === 'basicInfo'">
              <div class="row">
               <div class="col s12">
                <div class="row">
                 <div class="input-field col s6">
                   <input id="first_name" type="text" ng-model="newUser.first"/>
                   <label class="active" for="first_name">First Name</label>
                 </div>
                 <div class="input-field col s6">
                   <input id="last_name" type="text" ng-model="newUser.last"/>
                   <label class="active" for="last_name">Last Name</label>
                 </div>
                </div>

                <div class="row">
                  <div class="input-field col s6">
                    <p style="white-space: nowrap;">
                      <input id="phone" type="text" ng-model="newUser.phArea" style="width: 2em;" maxlength="3"/> - <input type="text" ng-model="newUser.ph1" style="width: 2em;" maxlength="3"/> - <input type="text" ng-model="newUser.ph2" style="width: 3em;" maxlength="4"/>
                       <label for="phone" class="active">Phone</label>
                     </p>
                   </div>  
                   <div class="input-field col s6">
                     <input id="email" type="text" ng-model="newUser.username"/>
                     <label class="active" for="email">Email</label>
                   </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="address-info-fields" ng-show="viewModelState.newUserStep === 'addressInfo'">
              <div class="row">
               <div class="input-field col s4">
                 <input id="street" type="text" ng-model="newUser.street">
                 <label class="active" for="street">Street Address</label>
               </div>
               <div class="input-field col s4">
                 <input id="city" type="text" ng-model="newUser.city">
                 <label class="active" for="city">City</label>
               </div>
               <!--Need to bind select value to newUser-->
               <div class="input-field col s2">
                 <select id="state-select">
                  <option ng-repeat="state in states" ng-model="newUser.state"></option>
                  <!--
                   <option value="MA">MA</option>
                   <option value="RI">RI</option>
                   <option value="CT">CT</option>
                   <option value="NH">NH</option>
                   <option value="ME">ME</option>
                   <option value="NY">NY</option>
                   <option value="NJ">NJ</option>-->
                 </select>
                 <label  for="state">State</label>
               </div>
               <div class="input-field col s2">
                 <input id="zip" type="text" ng-model="newUser.zip" maxlength="5">
                 <label class="active" for="zip">Zip Code</label>
               </div>
             </div>
             <div class="row">
               <div class="col s10">
                 <label class="active" for="hospital">Name of Your Animal Hospital</label>
                 <input id="hospital" type="text" ng-model="newUser.hospital">
               </div>
             </div>
            </div>

            <div id="password-info-fields" ng-show="viewModelState.newUserStep === 'passwordInfo'">
             <div class="row">
               <div class="col s6">
                 <label class="active" for="password">Choose a password (8 characters minimum)</label>
                 <input id="password" type="password" ng-model="newUser.password">
               </div>
               <div class="col s6">
                 <label class="active" for="passwordConfirm">Confirm your password</label>
                 <input id="passwordConfirm" type="password" ng-model="newUser.passwordConfirm">
               </div>
             </div>
            </div>

            <!-- ERROR BOX -->
            <div class="row animated shake">
              <div class="col s6 offset-s6 error-text">
                <div ng-show="registrationError.length !== 0">
                  <p>{{registrationError}}</p>
                </div>
              </div>
            </div>
          <!--END CARD CONTENT, USER REGISTRATION-->
          </div>

          <div class="row">
            <div id="registration-action-card" class="right card-action">
              <a ng-click="advanceNewUser();" class="thin matcard-action-text">{{newUserButton}}</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <!-- END NEW USER VIEWS -->


  <!--ADD BOARDING RESERVATION VIEW-->
  <ul class="pagination" ng-if="viewModelState.newReservation === true" style="margin-left: 4em;">
    <li ng-class="{'active': viewModelState.resStep === 1, 'disabled': viewModelState.resStep !== 1}"><a>1</a></li>
    <li ng-class="{'active': viewModelState.resStep === 2, 'disabled': viewModelState.resStep !== 2}"><a >2</a></li>
    <li ng-class="{'active': viewModelState.resStep === 3, 'disabled': viewModelState.resStep !== 3}"><a>3</a></li>
  </ul>
  <br>

  <div class="row" ng-if="viewModelState.newReservation === true && viewModelState.addPet === false">

      <div class="col s10 offset-s1 card" id="registration-form-container" ng-if="refresh === false">
        <h3 class="thin">{{reservationTitle}}</h3>
        <div class="card-content" ng-hide="viewModelState.resStep === 3">
          
          <div ng-show="viewModelState.resStep === 1 && serviceSelected === 'boarding'">
            <div class="input-field col s6" ngMouseup="setDate()">
              <input id="check-in-date" class="datepicker" type="date" ng-model="newReservation.checkInDate" min="currentDate">
              <label class="active" for="check-in">Check-In Date</label>
            </div>
            <div class="input-field col s6" ngMouseup="setDate()">
              <input id="check-out-date" class="datepicker" type="date" ng-model="newReservation.checkOutDate" min="checkInDate">
              <label class="active" for="check-out">Check-Out Date</label>
            </div>

            <div class="input-field col s6">
              <input id="check-in-time" type="text" ng-model="newReservation.checkInTime" placeholder="HH:MM (i.e. 04:30)">
              <label for="check-in-time" class="active">Est. Check-In Time</label>
            </div>

            <div class="input-field col s6">
              <input id="check-out-time" type="text" ng-model="newReservation.checkOutTime" placeholder="HH:MM (i.e. 04:30)">
              <label for="check-out-time" class="active">Est. Check-Out Time</label>
            </div>  

            <div class="row">
              <div class="col s6" id="foodRadioButtons">
                <label for="foodRadioButtons">Will You Be Bringing Your Own Food?</label>
                <p>
                  <input class="with-gap" name="foodRadios" type="radio" id="bringingFoodYes"/>
                  <label for="bringingFoodYes">Yes</label>
                </p>
                <p>
                  <input class="with-gap" name="foodRadios" type="radio" id="bringingFoodNo"/>
                  <label for="bringingFoodNo">No</label>
                </p>
              </div>

              <div class="col s6" id="returningRadioButtons">
                <label for="returningRadioButtons">Have Your Pets Stayed With Us Before?</label>
                <p>
                  <input class="with-gap" name="returningRadios" type="radio" id="returningGuestYes"/>
                  <label for="returningGuestYes">Yes</label>
                </p>
                <p>
                  <input class="with-gap" name="returningRadios" type="radio" id="returningGuestNo"/>
                  <label for="returningGuestNo">No</label>
                </p>
              </div>
                  

              <div class="row">
                <div class="col s12">
                  <label for="textarea1">Any Additional Notes &amp; Comments</label>
                  <textarea id="textarea1" class="materialize-textarea" ng-model="newReservation.comments"></textarea>
                </div>
              </div>


            </div>
          </div>
            <!-- END BOARDING SPECIFIC FIELDS -->

            <!--DAYCARE SPECIFIC FIELDS-->
            <div ng-show="viewModelState.resStep === 1 && serviceSelected === 'daycare'">
              <div class="input-field col s6" ngMouseup="setDate()">
                <input id="check-in-date" class="datepicker" type="date" ng-model="newReservation.checkInDate" min="currentDate">
                <label class="active" for="check-in">Requested Date</label>
              </div>

              <div class="input-field col s6">
                <input id="check-in-time" type="text" ng-model="newReservation.checkInTime" placeholder="HH:MM (i.e. 04:30)">
                <label for="check-in-time" class="active">Est. Drop-Off Time</label>
              </div>

              <div class="input-field col s6">
                <input id="check-out-time" type="text" ng-model="newReservation.checkOutTime" placeholder="HH:MM (i.e. 04:30)">
                <label for="check-out-time" class="active">Est. Pick-Up Time</label>
              </div>  

              <div class="row">
                <div class="col s12" id="foodRadioButtons">
                  <label for="foodRadioButtons">Are You Bringing Your Own Food?</label>
                    <div class="row">
                      <div class="col s6">
                        <p>
                          <input class="with-gap" name="foodRadios" type="radio" id="ownFoodYes" ng-model="newReservation.bringingOwnFood"/>
                          <label for="ownFoodYes">Yes</label>
                        </p>
                        <p>
                          <input class="with-gap" name="foodRadios" type="radio" id="ownFoodNo" ng-model="newReservation.bringingOwnFood"/>
                          <label for="ownFoodNo">No</label>
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12">
                        <label for="textarea1">Additional Notes &amp; Comments</label>
                        <textarea id="textarea1" class="materialize-textarea" ng-model="newReservation.comments"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!--END DAYCARE SPECIFIC FIELDS-->

              <!-- ADD PETS TO RESERVATION VIEW -->
              <div class="row" ng-if="viewModelState.resStep === 2">

              <div class="" ng-if="serviceSelected === 'boarding'">
                <!--RESERVATION DATES SUMMARY VIEW HERE-->
              </div>
              <div class="" ng-if="serviceSelected === 'daycare'">
                <!--RESERVATION DATES SUMMARY VIEW HERE-->
              </div>

                <div class="col s6 m6">
                  <div ng-if="user.pets.length ===0" class="alt-contact-text">
                    <span>You currently have no pets saved to your account.  Click <a ng-click="showPetForm();">'Add a Pet'</a> to add a pet.</span>
                  </div>
                  <br>
                  <ul class="collection with-header" ng-if="user.pets.length > 0;">
                    <li class="collection-header"><h5 class="thin">My Saved Pets</h5></li>
                    <li class="collection-item" ng-repeat="pet in user.pets">
                      <!--PETS COLLECTION-->
                      <div class="row">
                        <div class="col s6" class="pet-name-text">
                          <p>{{pet.name}}</p>
                        </div>  
                        <div class="col s3">
                          <div class="pet-icon-add-dark" ng-if="pet.type === 'dog'"><add-dog-reservation-icon></add-dog-reservation-icon></div><div class="pet-icon-add-dark" ng-if="pet.type === 'cat'"><add-cat-reservation-icon></add-cat-reservation-icon></div>
                        </div>
                        <div class="col s3">
                          <a href="" class="secondary-content" ng-click="addPetToReservation(pet.name);"><add-item-icon></add-item-icon></a></a>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <a class="waves-effect waves-light btn" ng-click="showPetForm();"><i class="small material-icons">library_add</i>&nbsp;&nbsp;ADD A PET</a>
                </div>

                <div class="col s6 m6">
                  <div ng-if="user.pets.length ===0" class="alt-contact-text">
                    <span>You currently have no pets saved to your reservation.  Click the '+' button to add a saved pet to your reservation.</span>
                  </div>
                  <br>

                  <!-- PETS SAVED TO RESERVATION GO HERE -->
                  <ul class="collection with-header" ng-if="newReservation.pets.length > 0">
                    <li class="collection-header"><h5 class="thin">My Pets Staying</h5></li>
                    <li class="collection-item" ng-repeat="pet in newReservation.pets">
                    <div>{{pet.name}} <div class="pet-icon-add-dark" ng-if="pet.type === 'dog'"><add-dog-reservation-icon></add-dog-reservation-icon></div><div class="pet-icon-add-dark" ng-if="pet.type === 'cat'"><add-cat-reservation-icon></add-cat-reservation-icon></div>

                    <a href="" class="secondary-content" ng-click="removePetFromReservation(pet.name)">
                    <remove-item-icon></remove-item-icon></a></div></li>
                  </ul>
                  <!-- END PETS SAVED TO RESERVATION GO HERE -->

                  <!-- NO SAVED PETS VIEW -->
                  <ul class="collection with-header" ng-if="newReservation.pets.length === 0">
                    <li class="collection-header"><h5 class="thin">My Pets Staying</h5></li>
                    <tr class="collection-item" id="dummy-table-row"><p class="pet-collection-empty-text thin">Please add a saved pet to your reservation.</p></tr>
                  </ul>
                  <!-- END NO SAVED PETS VIEW -->

                </div>
              </div>
              <!-- ERROR TEXT-->
              <div class="row">
                <div class="col s10 offset-s1 error-text">
                  <p ng-if="reservationError.length > 0">{{reservationError}}</p>
                  <p ng-if="registrationError.length > 0">{{registrationError}}</p>
                </div>
              </div>
            </div>


            <div ng-if="viewModelState.resStep === 3">

              <div class="row">
                <div class="col s10 offset-s1">
                  <div class="col s12">
                    <h4 class="thin">Reservation Summary:</h4>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col s10 offset-s1" ng-if="serviceSelected === 'boarding'">
                  
                  <div class="col s6" id="check-in-summary">
                    <label for="check-in-summary">Requested Check-In Date:</label>
                    <p>{{displayCheckInDate}}</p>
                  </div>
                  <div class="col s6" id="check-out-summary">
                    <label for="check-out-summary">Requested Check-Out Date:</label>
                    <p>{{displayCheckOutDate}}</p>
                  </div>

                </div>
                <div class="col s10 offset-s1" ng-if="serviceSelected === 'daycare'">
                  <div class="col s6" id="req-date-summary">
                    <label for="req-date-summary">Requested Daycare Date:</label>
                    <p>{{displayCheckInDate}}</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col s10 offset-s1" ng-if="serviceSelected === 'boarding'">
                  
                  <div class="col s6" id="drop-off-summary" ng-if="newReservation.checkInTime !== ''">
                    <label for="drop-off-summary">Est. Check-In Time:</label>
                    <p>{{newReservation.checkInTime}}</p>
                  </div>
                  <div class="col s6" id="pick-up-summary" ng-if="newReservation.checkOutTime !== ''">
                    <label for="pick-up-summary">Est. Check-Out Time:</label>
                    <p>{{newReservation.checkOutTime}}</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col s10 offset-s1">
                  <div class="col s12">
                    <h4 ng-if="serviceSelected === 'boarding'" class="thin">Who's Staying:</h4>
                    <h4 ng-if="serviceSelected === 'daycare'" class="thin">Who's Coming To Play:</h4>
                  </div>
                </div>
              </div>

              <div class="row" ng-repeat="pet in newReservation.pets">
                <div class="col s10 offset-s1">
                  <div class="col s6" id="pet-name-review">
                    <ul>
                      <li>
                        <p>{{pet.name}}</p>
                      </li>
                    </ul>
                  </div>
                  <div class="col s6" id="pet-type-review">
                    <ul>
                      <li>
                        <span ng-if="pet.type === 'dog'" class="pet-icons-confirmation"><add-dog-reservation-icon></add-dog-reservation-icon></span>
                        <span ng-if="pet.type === 'cat'" class="pet-icons-confirmation"><add-cat-reservation-icon></add-cat-reservation-icon></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <br><br>
              <div class="row">
                <div class="col s10 offset-s1">
                <div class="col s12">
                  <h6 class="thin">How would you like us to contact you about your reservation?</h6>
                </div>
                  <div class="col s4">
                    <p>
                      <input name="contact-info" class="with-gap" type="radio" id="contact-email" />
                      <label for="contact-email">E-Mail</label>
                    </p>
                  </div>
                  <div class="col s4">
                    <p>
                      <input name="contact-info" class="with-gap" type="radio" id="contact-phone" />
                      <label for="contact-phone">Phone</label>
                    </p>
                  </div>
                  <div class="col s4">
                    <p>
                      <input name="contact-info" class="with-gap" type="radio" id="contact-text" />
                      <label for="contact-text">Text Message</label>
                    </p>
                  </div>
                </div>
              </div>

            </div>


          <!-- END CARD CONTENT BLOCK RESRVATION CARDS-->


            <div class="row">
              <div class="card-action align left" ng-if="viewModelState.resStep !== 1">
                <a ng-click="backReservationStep();" class="matcard-action-text">{{reservationBackButton}}</a>
              </div>

              <div class="card-action align right" ng-if="viewModelState.resStep !== viewModelState.maxUserSteps">
                <a ng-click="advanceReservationStep();" class="matcard-action-text" ng-class="{'disabled': user.pets.length === 0}" >{{reservationFwdButton}}</a>
              </div> 
            </div>

        </div>
      </div>
    </div>

    

        <!--ADD PETS VIEW -->
  
          
          <!-- END ADD PETS TO RESERVATION VIEW -->


        </div>

      

        </div>
      </div>
    </div>
  <!--END BOARDING RESERVATION VIEW--> 

  <!--ADD PETS VIEW -->
    <!-- SELECT SPECIES CARDS -->
    <div class="row" ng-show="viewModelState.addPet === true && viewModelState.addPetStep === 1;">
      <div class="col s10 offset-s1">
        <h4 class="thin">{{addPetTitle}}</h4>
        <br>
        <div class="row">
          <div class="row center-text">
            <div class="col s6 grow">
              <div class="card blue-grey lighten-1" id="add-dog-card">
                <div class="card-content white-text matcard-intro">
                  <span class="card-title">DOG</span>
                  <p class="thin matcard-desc-text">Man's Best Friend</p>
                  <i class="pet-icon-new"><add-dog-icon></add-dog-icon></i>
                </div>
                <div class="card-action thin white-text">
                  <a ng-click="setSpecies('dog');" class="matcard-action-text" id="actionButtonReturningUser">&nbsp;&nbsp;ADD DOG</a>
                </div>
              </div>
            </div>
            <div class="col s6 grow">
                <div class="card blue-grey lighten-1" id="add-cat-card">
                  <div class="card-content white-text matcard-intro">
                    <span class="card-title">CAT</span>
                    <p class="thin matcard-desc-text">Finicky But Friendly</p>
                    <i class="pet-icon-new"><add-cat-icon></add-cat-icon></i>
                  </div>
                  <div class="card-action thin white-text">
                    <a ng-click="setSpecies('cat')" class="matcard-action-text" id="actionButtonNewUser">&nbsp;&nbsp;ADD CAT</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END SELECT SPECIES CARDS -->

      <!-- PET INFO CARD -->
      <div class="row" ng-show="viewModelState.addPet === true && viewModelState.addPetStep >= 2;">
        <div class="col s10 offset-s1">

          <div class="row" id="registration-form-container" ng-if="refresh === false">
            <div class="column s10 offset-s1">
              <div class="card" id="pet-content">

                <div class="row">
                  <div class="col s4">
                    <div class="card-title">
                      <h4 class="thin pet-info-title">{{addPetTitle}}</h4>
                      <h6 ng-if="viewModelState.addPetStep > 2">(cont.)</h6>
                    </div>
                  </div>
                  <div class="col s5 offset-2">
                    <div class="pet-icon-new-dark" ng-if="newPet.type === 'dog'"><add-dog-icon></add-dog-icon></div>
                    <div class="pet-icon-new-dark" ng-if="newPet.type === 'cat'"><add-cat-icon></add-cat-icon></div>
                  </div>
                </div>


                <div class="card-content" ng-if="viewModelState.addPetStep === 2">
                  <div class="row">
                    <div class="col s4">
                      <label for="pet-name">Name</label>
                      <input type="text" id="pet-name" ng-model="newPet.name" class="input-field"/>
                    </div>
                    <div class="col s4">
                      <label for="pet-breed">Breed (Optional)</label>
                      <input type="text" id="pet-breed" ng-model="newPet.breed" class="input-field"/>
                    </div>
                    <div class="col s4">
                      <label for="pet-color">Color</label>
                      <input type="text" id="pet-color" ng-model="newPet.color" class="input-field"/>
                    </div>
                  </div>

                  <div class="col s8">
                    <div class="row">
                      <div class="col s4">
                        <label for="pet-age">Age</label>
                        <input type="number" maxlength="2" id="pet-age" ng-model="newPet.age"/>
                      </div>
                      <div class="col s4">
                        <label for="pet-weight">Weight (lbs.)</label>
                        <input type="number" maxlength="3" id="pet-weight" ng-model="newPet.weight"/>
                      </div>
                      <div class="col s4"></div>
                    </div>

                    <div class="row">
                      <div class="col s4">
                        <label for="pet-brand">Food Brand or Type</label>
                        <input type="text" id="pet-brand" ng-model="newPet.foodBrand"/>
                      </div>
                      <div class="col s8">
                        <label for="pet-servings">Food Servings (Amt./day + Times/Day)</label>
                        <input type="text" id="pet-servings" ng-model="newPet.foodServings"/>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col s12">
                        <label for="pet-allergy">Food Allergies</label>
                        <input type="text" id="pet-allergy" ng-model="newPet.foodAllergies"/>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col s12">
                        <label for="textarea1">Additional Notes &amp; Comments</label>
                        <textarea id="textarea2" class="materialize-textarea" ng-model="newPet.comments"></textarea>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col s6">
                        <input type="checkbox" class="with-gap" id="neuter-box" checked="checked" ng-model="newPet.neutered"/>
                        <label for="neuter-box">This critter is neutered &amp; vaccinated</label>
                      </div>
                      <div class="col s6 error-text">
                        <p ng-show="registrationError.length > 0">{{registrationError}}</p>
                      </div>
                    </div>

                  </div>

                  <div class="col s4">
                    <!--PET SIZE ICON GOES HERE-->
                  </div>
                </div>
                <!-- END PET INFO CARD CONTENT-->

                <!-- PET INFO CARD BUTTONS -->
                <div id="action-button-add-pet" class="card-action thin">
                  <a ng-click="addPet()" class="matcard-action-text right">&nbsp;&nbsp;ADD {{displayedSpecies}}</a>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
        <!-- END PET INFO CARD -->
  
  <div class="container" ng-if="viewModelState.finalConfirm === true">
    <div class="row">
      <div clas="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title"> <i class="large material-icons">done</i> &nbsp;&nbsp;  WELL THAT WAS EASY!</span>
            <p>
              Congrats!  You've scheduled a stay for your pets.  We'll be following up with a final confirmation shortly.  In the meantime, if you need to make any changes to your reservation, you can access all of your information on <a href="#/account">your account page</a>.
            </p>
          </div>


          <div class="card-action right">
            <a href="/#">OK!</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--BACK BUTTON-->
  <br>
  <div ng-hide="(viewModelState.intro === true && viewModelState.loginUser === false) || viewModelState.newUser && viewModelState.newUserStep !== 'basicInfo' ">
    <a ng-click="goHome();" id="register-back-btn" class="thin" style="font-size: 1.1em;">GO BACK</a>
  </div>

  <div class="row">
    <div class="col s8 offset-s2 center-text alt-contact-text">Prefer to book over the phone?  Call us at 508-429-1500</div>
  </div>
</div>



