<div class="container">
  <h4>Book a Stay With Us</h4>

  <div class="row">
   <div class="col s12 m10 offset-m1">
     <div class="card">
       <div class="card-content ">
         <span class="card-title">Your Info:</span>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="text" ng-model="owner.first">
                <label class="active" for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" ng-model="owner.last">
                <label class="active" for="last_name">Last Name</label>
              </div>
            </div>
            
              <div class="input-field col s6">
                <p style="white-space: nowrap;">
                  <input id="phone" type="text" ng-model="owner.phArea" style="width: 2em;" length="3"> - <input id="phone" type="text" ng-model="owner.ph1" style="width: 2em;" length="3"> - <input id="phone" type="text" ng-model="owner.ph2" style="width: 3em;" length="4">
                  <label class="active" for="phone">Phone</label>
                </p>
              </div>  

              <div class="input-field col s6">
                <input id="email" type="email">
                <label class="active" for="email">Email</label>
              </div>

              <div class="row">
                <div class="input-field col s6" ng-blur="setDate()">
                  <input id="check-in" class="datepicker" type="date" ng-model="checkInDate" min="currentDate">
                  <label class="active" for="check-in">Check-In Date</label>
                </div>
                <div class="input-field col s6">
                  <input id="check-out" class="datepicker" type="date" ng-model="checkOutDate" min="checkInDate">
                  <label class="active" for="check-out">Check-Out Date</label>
                </div>
              </div>
        
          </form>
        </div>
      </div>

       <div class="card-action">
         <a href="#/">Go Back</a>
         <a href="#/addPet">Next</a>
       </div>
     </div>
   </div>
 </div>




</div>