<div class="container">
  <h3>Book a Stay With Us!</h3>

  <div class="row">
   <div class="col s12 m10 offset-m1">
     <div class="card red darken-1">
       <div class="card-content white-text">
         <span class="card-title">Your Information:</span>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate" ng-model="owner.first">
                <label class="active" for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate" ng-model="owner.last">
                <label class="active" for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="phone" type="text" class="validate" ng-model="owner.phone">
                <label class="active" for="phone">Phone</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label class="active" for="email">Email</label>
              </div>
            </div>
          </form>
        </div>
       </div>

       <div class="card-action">
         <a href="#/addPet">Go Back</a>
         <a href="#">Next</a>
       </div>
     </div>
   </div>
 </div>




</div>