
<!--NO USER BOX-->
<div class="container">
  <div class="row" ng-if="user.isLoggedIn === false || !user">
    <div class="col s10 offset-s1 m6 offset-s3 l6 offset-s3">
      <br><br><br>
      <div class="card">
        <div class="card-content">
          <span class="card-title">WOOPS!</span>
          <br>
          <span class="alt-contact-text center-text">There's nothing here.  Please <a href="#/login">log in</a> to view your account.</span>
        </div>
        
      </div>
    </div>
  </div>
</div>
<!--END NO USER BOX-->
<br>
<!--ACCOUNT NAVIGATION TABS-->
<div class="container" ng-if="user">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li id="user-tab" class="tab col s3"><a ng-click="showUserInfo();">My Account</a></li>
        <li id="pets-tab" class="tab col s3" ng-class="{'disabled': user.pets.length === 0}"><a ng-click="showProfilePets();">My Pets</a></li>
        <li id="reservations-tab" class="tab col s3" ng-class="{'disabled': user.reservations.length === 0}"><a ng-click="showProfileReservations();">My Reservations</a></li>
      </ul>
    </div>
  </div>
  <br>
  <!--END ACCOUNT NAVIGATION TABS-->

  <!--USER CARD-->
  <div class="row">
    <div class="col s10 offset-s1">

      <div class="card" id="edit-container" ng-if="accountViewModelState.userInfo === true">
        <div class="card-content">

          <span class="card-title thin">{{displayTitle}}</span>
          <div class="row">&nbsp;</div>

          <!-- USER INFO VIEW -->
          <div ng-if="accountViewModelState.userInfo === true">
            <div class="row" ng-if="accountViewModelState.userField === ''">
              <div class="col s6">
                <h4>{{displayName}}</h4>
              </div>
            </div>
            <span><h6 class="thin">CONTACT INFO:</h6></span>
            <div class="row" id="contact-fields">
              <div class="col s6 l4 offset-l1" id="email-field">
                <label for="email-field">E-Mail:</label><p class="account-edit">{{user.email}} &nbsp;&nbsp; <a ng-click="showEditUserField('email');"><i class="material-icons">mode_edit</i>&nbsp;&nbsp;&nbsp;</a></p>
              </div>
              <div class="col s6 l4 offset-l1" id="phone-field">
                <label for="phone-field">Contact Phone:</label><p class="account-edit">{{displayPhone}} &nbsp;&nbsp; <a ng-click="showEditUserField('phone');"><i class="material-icons">mode_edit</i>&nbsp;&nbsp;&nbsp;</a></p>
              </div>
            </div>

            <span><h6 class="thin">ADDRESS:</h6></span>

            <div id="address-fields" class="account-edit">
              <div class="row" ng-if="user.address !== ''" id="address-field">
                <div class="col s6 l4 offset-l1" id="address-field">
                  <label for="address-field">Address:</label><p>{{user.street}} <a ng-click="showEditUserField('street');"><i class="material-icons">mode_edit</i>&nbsp;&nbsp;&nbsp;</a></p>
                </div>
                <div class="col s6 l4 offset-l1" id="city-field">
                  <label for="city-field">City/Town:</label><p>{{user.city}} <a ng-click="showEditUserField('city');"><i class="material-icons">mode_edit</i>&nbsp;&nbsp;&nbsp;</a></p>
                </div>
              </div>
              <div class="row" ng-if="user.address !== ''">
                <div class="col s6 l4 offset-l1" id="state-field">
                  <label for="state-field">State:</label><p>{{user.state}} <a ng-click="showEditUserField('state');"><i class="material-icons">mode_edit</i>&nbsp;&nbsp;&nbsp;</a></p>
                </div>
                <div class="col s6 l4 offset-l1" id="zip-field">
                  <label for="zip-field">ZIP:</label><p>{{user.zip}} <a ng-click="showEditUserField('zip');"><i class="material-icons">mode_edit</i>&nbsp;&nbsp;&nbsp;</a></p>
                </div>
              </div>
            </div>  

            <span><h6 class="thin">MEDICAL INFO:</h6></span>

            <div class="row" ng-if="user.hospital !== ''">
              <div class="col s12 l10 offset-l1" id="hospital-field">
                <label for="hospital-field">Animal Hospital:</label><p class="account-edit">{{user.hospital}} <a ng-click="showEditUserField('hospital');"><i class="material-icons">mode_edit</i>&nbsp;&nbsp;&nbsp;</a></p>
              </div>
            </div>
            <br>
            <div class="row" ng-if="accountViewModelState.editingUser === false">
              
                <a class="waves-effect waves-light btn" ng-click="showEditUserField('password');">EDIT PASSWORD</a>
              
            </div>
          </div>
          <!-- END USER INFO VIEW -->

          <!-- EDIT USER INFO VIEW -->
          <div ng-if="accountViewModelState.editingUser === true">
            
            <div class="row" id="field-edit-title">
              <div class="col s10 offset-s1">
                <h6 class="thin">{{displayName}}</h6>
              </div>
            </div>

            <div class="row" id="contact-fields" ng-if="accountViewModelState.editingUser === true">
              <div class="col s6" id="email-field" ng-if="accountViewModelState.userField === 'email-fields'">
                <label for="email-field">Enter New E-Mail:</label><input type="text" ng-model="userData.email"></input>
              </div>
              <div class="col s6" id="email-confirm-field" ng-if="accountViewModelState.userField === 'email-fields'">
                <label for="email-field">Confirm New E-Mail:</label><input type="text" ng-model="userData.emailConfirm"></input>
              </div>


              <div class="col s6" id="phone-field" ng-if="accountViewModelState.userField === 'phone-fields'">
                <label for="phone-field">Contact Phone:</label>
                <div class="row">
                  <div class="col s10 offset-s1">
                    (<input type="text" pattern="\d*" style="width: 3em;" maxlength="3" ng-model="userData.area"></input>)&nbsp;&nbsp;-&nbsp;&nbsp;
                    <input type="text" pattern="\d*" style="width: 3em;" maxlength="3" ng-model="userData.ph1"></input>&nbsp;&nbsp;-&nbsp;&nbsp;
                    <input type="text" pattern="\d*" style="width: 4em;" maxlength="4" ng-model="userData.ph2"></input>
                  </div>
                </div>
              </div>

            </div>

            <div class="row" id="address-fields" ng-if="accountViewModelState.editingUser === true && accountViewModelState.userField === 'address-fields'">
              <div class="col s6" id="address-field">
                <label for="address-field">Address:</label><input type="text" pattern="" ng-model="userData.street"></input>
                <pre>{{userData.street}}<pre>
              </div>
              <div class="col s6" id="city-field">
                <label for="city-field">City/Town:</label><input type="text" pattern="" ng-model="userData.city"></input>
                <pre>{{userData.city}}<pre>
              </div>
            </div>
            <div class="row" ng-if="accountViewModelState.editingUser === true && accountViewModelState.userField === 'address-fields'">
              <div class="col s6" id="state-field">
                <label for="state-field">State:</label><input type="text" pattern="" ng-model="userData.state"></input>
                <pre>{{userData.state}}<pre>
              </div>
              <div class="col s6" id="zip-field">
                <label for="zip-field">ZIP:</label><input type="text" pattern="" ng-model="userData.zip"></input>
                <pre>{{userData.zip}}<pre>
              </div>
            </div>

            <div class="row" id="medical-fields" ng-if="accountViewModelState.editingUser === true && accountViewModelState.userField === 'medical-fields'">
              <div class="col s12" id="hospital-field">
                <label for="hospital-field">Animal Hospital:</label><input type="text" pattern="" ng-model="userData.hospital"></input>
              </div>
            </div>

            <div class="row" id="password-fields" ng-if="accountViewModelState.editingUser === true && accountViewModelState.userField === 'password-fields'">
              <div class="col s6">
                <label for="password-field">Enter New Password:</label><input type="password" ng-model="userData.password"></input>
              </div>
              <div class="col s6" id="password-confirm-field">
                <label for="password-confirm-field">Confirm New Password:</label><input type="password" ng-model="userData.passwordConfirm"></input>
              </div>
          </div>

          <div class="row" ng-if="accountViewModelState.editingUser === true && registrationError.length > 0">
            <div class="col s10 offset-s1">
              <div class="error-text">
                <p>{{registrationError}}</p>
              </div>
            </div>
          </div>

          <div class="row" ng-if="accountViewModelState.editingUser === true">
            <div class="col s4 offset-s1" >
              <a class="waves-effect waves-light left btn" ng-click="validateUser(userData);">CONFIRM CHANGES</a>
            </div>
            <div class="col s4 offset-s1">
              <a class="waves-effect waves-light red left btn" ng-click="cancelEdit();">DISCARD CHANGES<i id="about-icon" class=" material-icons right">highlight_off</i></a>
            </div>
            </div>
          </div>
          <!-- END EDIT USER INFO VIEW -->

          <!-- RESERVATION INFO VIEW-->   <!-- ADD DIVIDER B/W PREVIOUS & UPCOMING RESERVATIONS -->
          <div ng-if="accountViewModelState.reservationInfo === true && user.reservations.length > 0">
            <div class="row account-summary-reservation-item" ng-repeat="res in user.reservations">
              <div class="col s10 offset-s1">
              <!-- DAYCARE ITEM -->
                <div ng-if="res.service === 'daycare'">
                  <div class="row">
                    <div class="col s6">
                      <label for="account-res-date">Date: </label><p id="account-res-date">{{res.displayCheckInDate}}</p>
                    </div>
                    <div class="col s6">
                    </div>
                  </div>
                </div>
                <!-- END DAYCARE ITEM -->
                <!-- BOARDING ITEM -->
                <div ng-if="res.service === 'boarding'">
                  <div class="row">
                    <div class="col s4">
                      <label for="account-res-dates">Dates: </label><p id="account-res-dates">{{res.displayCheckInDate}} - {{res.displayCheckOutDate}}</p>
                    </div>
                    <div class="col s4">
                    <label for="account-res-petstring">Pets: </label>
                      <p id="account-res-petstring">{{res.displayPetString}}</p>
                    </div>
                    <div class="col s4">
                      <label for="account-res-service">Service: </label>
                      <div id="account-res-service">
                        <p ng-if="res.service === 'daycare'">Daycare</p>
                        <p ng-if="res.service === 'boarding'">Boarding</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END BOARDING ITEM -->
              </div>
            </div>
          </div>
          <!-- END RESERVATION INFO VIEW-->
        </div> 
      </div>
    </div>
  </div>
  <!-- END USER CARD -->
</div>

<!-- NO RESERVATIONS PLACEHOLDER -->
<div ng-if="accountViewModelState.reservationInfo === true && user.reservations.length === 0">
  <div class="container">
    <div class="row">
      <div class="col s10 offset-s1 m6 offset-s3 l6 offset-s3">
        <br><br><br>
        <div class="card">
          <div class="card-content">
            <span class="card-title">WOOPS!</span>
            <br>
            <span class="alt-contact-text center-text">You currently don't have any saved reservations.</span>
          </div>
        </div>
      </div>
    </div>
  </div>   
</div>
<!-- END NO RESERVATIONS PLACEHOLDER -->

<!-- NO PET PLACEHOLDER -->
<div ng-if="accountViewModelState.petInfo === true && user.pets.length === 0">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2 m6 offset-s3 l6 offset-s3">
        <br><br><br>
        <div class="card">
          <div class="card-content">
            <span class="card-title">WOOPS!</span>
            <br>
            <span class="alt-contact-text center-text">You currently don't have any pets saved to your account.</span>
          </div>
          
        </div>
      </div>
    </div>
  </div>   
</div>
<!-- END NO PET PLACEHOLDER -->

<!-- PET INFO VIEW -->
<div class="container row" ng-if="accountViewModelState.petInfo === true && user.pets.length > 0">       
  <ul class="collapsible" data-collapsible="accordion">
    <li ng-repeat="pet in user.pets">
      <div class="collapsible-header">
        <span ng-if="pet.type === 'dog'" id="account-pets-header-icon"> <!-- SMALL DOG ICON HERE --> </span>
        <span ng-if="pet.type === 'cat'" id="account-pets-header-icon"> <!-- SMALL CAT ICON HERE --> </span>
        &nbsp;&nbsp;&nbsp;{{pet.name}}
      </div>
      <div class="collapsible-body">
        <div class="col s6" id="account-pet-color" ng-if="pet.color !== ''"><label for="account-pet-color">Color:</label><p>{{pet.color}}</p></div>
        <div class="col s6" id="account-pet-breed" ng-if="pet.breed !== ''"><label for="account-pet-breed">Breed:</label><p>{{pet.breed}}</p></div>
        <div class="col s6" id="account-pet-weight"ng-if="pet.weight !== ''"><label for="account-pet-weight">Weight:</label><p>{{pet.weight}}</p></div>
        <div class="col s6" id="account-pet-age" ng-if="pet.age !== ''"><label for="account-pet-age">Age:</label><p>{{pet.age}}</p></div>
        <div class="col s6" id="account-pet-allergies" ng-if="pet.allergies !== ''"><label for="account-pet-allergies">Allergies:</label><p>{{pet.foodAllergies}}</p></div>
        <div class="col s6" id="account-pet-notes" ng-if="pet.notes !== ''"><label for="account-pet-notes">Notes &amp; Comments:</label><p>{{pet.comments}}</p></div>
      </div>
    </li>
  </ul>
</div>
<!-- END PET INFO VIEW -->

<script>$('.collapsible').collapsible();</script>

