<div class="container">
  <div class="row" ng-if="user.isLoggedIn === false || !user">
    <div class="col s10 offset-s1 m6 offset-s3 l6 offset-s3">
      <br><br><br>
      <div class="card">
        <div class="card-content">
          <span class="card-title">WOOPS!</span>
          <br>
          <span class="alt-contact-text center-text">There's nothing here.  Please <a href="#/login">log in</a> to view your account.</span>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="container" ng-if="user.isLoggedIn === true">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a ng-click="showUserInfo();">My Account</a></li>
        <li class="tab col s3" ng-class="{'disabled': user.pets.length === 0}"><a ng-click="showProfilePets();" class="active">My Pets</a></li>
        <li class="tab col s3" ng-class="{'disabled': user.reservations.length === 0}"><a ng-click="showProfileReservations();">My Reservations</a></li>
      </ul>
    </div>
  </div>


  <div class="row">
    <div class="col s10 offset-s1">

      <div class="card">
        <div class="card-content">
          <span class="card-title thin">{{profileTitle}}</span>
          <div>
            
            <!-- USER INFO VIEW -->
            <div ng-if="accountViewModelState.userInfo === true">
              
              <div class="row" ng-if="accountViewModelState.userField === ''">
                <div class="col s6">
                  <h4>{{displayName}}</h4>
                </div>
              </div>

              <div class="row" id="contact-fields" ng-if="accountViewModelState.editingUser === true && accountViewModelState.userField === 'contact-fields'">
                <div class="col s6" id="email-field">
                  <label for="email-field">E-Mail:</label><p>{{user.email}} &nbsp;&nbsp; <a ng-click="showEditUserField('email');"><i class="small material-icons">mode_edit</i>&nbsp;&nbsp;&nbsp;</a></p>
                  
                </div>
                <div class="col s6" id="phone-field">
                  <label for="phone-field">Contact Phone:</label><p>{{displayPhone}} &nbsp;&nbsp; <a ng-click="showEditUserField('email');"><i class="small material-icons">mode_edit</i>&nbsp;&nbsp;&nbsp;</a></p>
                </div>
              </div>

              <div id="address-fields" ng-if="accountViewModelState.editingUser === true && accountViewModelState.userField === 'address-fields'">
                <div class="row" ng-if="user.address !== ''" id="address-fields">
                  <div class="col s6" id="address-field">
                    <label for="address-field">Address:</label><p>{{user.address}}</p>
                  </div>
                  <div class="col s6" id="city-field">
                    <label for="city-field">City/Town:</label><p>{{user.city}}</p>
                  </div>
                </div>
                <div class="row" ng-if="user.address !== ''">
                  <div class="col s6" id="state-field">
                    <label for="state-field">State:</label><p>{{user.state}}</p>
                  </div>
                  <div class="col s6" id="zip-field">
                    <label for="zip-field">ZIP:</label><p>{{user.zip}}</p>
                  </div>
                </div>
              </div>

              <div id="hospital-fields" ng-if="accountViewModelState.editingUser === true && accountViewModelState.userField === 'hospital-fields'">
                <div class="row" ng-if="user.hospital !== ''">
                  <div class="col s12" id="hospital-field">
                    <label for="hospital-field">Animal Hospital:</label><p>{{user.hospital}}</p>
                  </div>
                </div>
              </div>

              <br>
              <div class="row">
                <div class="col s4 offset-s1" ng-if="accountViewModelState.editingUser === false">
                  <a class="waves-effect waves-light btn" ng-click="confirmEditField();"><i class="small material-icons">edit</i>&nbsp;&nbsp;CONFIRM CHANGE</a>
                </div>
                <div class="col s4 offset-s1" ng-if="accountViewModelState.editingUser === true">
                  <a class="waves-effect btn" ng-click="cancelEdit();">CANCEL<i id="about-icon" class=" material-icons right">highlight_off</i></a>
                </div>
              </div>
            </div>
            <!-- END USER INFO VIEW -->

            <!-- EDIT USER INFO VIEW -->
            <div ng-if="accountViewModelState.editingUser === true">
              
            <div class="row">
              <div class="col s10 offset-s1">
                <h5>{{editUserTitle}}</h5>
              </div>
            </div>

              <div class="row">
                <div class="col s6" id="first-field">
                    <label for="first-field">First Name:</label><input type="text" ng-model="userData.first">{{userData.first}}</input>
                </div>
                <div class="col s6" id="last-field">
                    <label for="last-field">Last Name:</label><input type="text" ng-model="userData.last">{{userData.last}}</input>
                </div>
              </div>
              <div class="row">
                <div class="col s6" id="email-field">
                  <label for="email-field">E-Mail:</label><input type="text" ng-model="userData.email">{{userData.email}}</input>
                </div>
                <div class="col s6" id="phone-field">
                  <label for="phone-field">Contact Phone:</label><input type="text" ng-model="userData.email">{{userData.phone}}</input>
                </div>
              </div>
              <div class="row">
                <div class="col s6" id="address-field">
                  <label for="address-field">Address:</label><input type="text" ng-model="userData.address">{{userData.address}}</input>
                </div>
                <div class="col s6" id="city-field">
                  <label for="city-field">City/Town:</label><input type="text" ng-model="userData.city">{{userData.city}}</input>
                </div>
              </div>
              <div class="row">
                <div class="col s6" id="state-field">
                  <label for="state-field">State:</label><input type="text" ng-model="userData.state">{{userData.state}}</input>
                </div>
                <div class="col s6" id="zip-field">
                  <label for="zip-field">ZIP:</label><input type="text" ng-model="userData.zip">{{userData.zip}}</input>
                </div>
              </div>
              <div class="row">
                <div class="col s12" id="hospital-field">
                  <label for="hospital-field">Animal Hospital:</label><input type="text" ng-model="userData.hospital">{{userData.hospital}}</input>
                </div>
              </div>
              <div class="row">
                <div class="col s6" id="password-field">
                  <label for="password-field">Password:</label><input type="text" ng-model="userData.password">{{userData.password}}</input>
                </div>
              </div>
              <div class="row">
                <div class="col s6" id="password-confirm-field">
                  <label for="password-confirm-field">Confirm Password:</label><input type="text" ng-model="userData.passwordConfirm">{{userData.passwordConfirm}}</input>
                </div>
              </div>
            </div>
            <!-- END USER INFO VIEW -->



            <!-- PET INFO VIEW -->
            <div ng-if="accountViewModelState.petInfo === true">
              
              <ul class="collapsible" data-collapsible="accordion">
                  <li ng-repeat="pet in user.pets">
                    <div class="collapsible-header">{{pet.name}}</div>
                    <div class="collapsible-body">
                      <div class="col s6" id="account-pet-name">
                        <label for="account-pet-name">Name:</label><p> {{pet.name}}</p>
                      </div>
                      <div class="col s6">
                        <span class="pet-icon-new-dark" ng-if="pet.type === 'dog'"><add-dog-icon></add-dog-icon></span>
                        <span class="pet-icon-new-dark"ng-if="pet.type === 'cat'"><add-cat-icon></add-cat-icon></span>
                      </div>
                      <div class="col s6" id="account-pet-color" ng-if="pet.color !== ''"><label for="account-pet-color">Color:</label><p>{{pet.color}}</p></div>
                      <div class="col s6" id="account-pet-breed" ng-if="pet.breed !== ''"><label for="account-pet-breed">Breed:</label><p>{{pet.breed}}</p></div>
                      <div class="col s6" id="account-pet-weight"ng-if="pet.weight !== ''"><label for="account-pet-weight">Weight:</label><p>{{pet.weight}}</p></div>
                      <div class="col s6" id="account-pet-age" ng-if="pet.age !== ''"><label for="account-pet-age">Age:</label><p>{{pet.age}}</p></div>
                      <div class="col s6" id="account-pet-allergies" ng-if="pet.allergies !== ''"><label for="account-pet-allergies">Allergies:</label><p>{{pet.foodAllergies}}</p></div>
                      <div class="col s6" id="account-pet-notes" ng-if="pet.notes !== ''"><label for="account-pet-notes">Notes &amp; Comments:</label><p>{{pet.comments}}</p></div>

                    </div>
                  </li>
                </ul>

            </div>
            <!-- END PET INFO VIEW -->





            <!-- RESERVATION INFO VIEW-->
            <div ng-if="accountViewModelState.reservationInfo === true">
              <div class="row" ng-repeat="res in user.reservations">
                <div class="col s10 offset-s1">
                  <div ng-if="res.service === 'daycare'">
                    <div class="row">
                      <div class="col s6">
                        <label for="account-res-date">Date: </label><p id="account-res-date">{{res.displayCheckInDate}}</p>
                      </div>
                      <div class="col s6">
                        
                      </div>
                    </div>
                  </div>
                  <div ng-if="res.service === 'boarding'">
                    <div class="row">
                      <div class="col s4">
                        <label for="account-res-dates">Dates: </label><p id="account-res-dates">{{res.displayCheckInDate}} - {{res.displayCheckOutDate}}</p>
                      </div>
                      <div class="col s4">
                      <label for="account-res-petstring">Pets: </label>
                        <p id="account-res-petstring">{{res.displayPetString}}</p>
                      </div>
                      <div class="col s4">
                        <label for="account-res-service">Service: </label>
                        <div id="account-res-service">
                          <p ng-if="res.service === 'daycare'">Daycare</p>
                          <p ng-if="res.service === 'boarding'">Boarding</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
            <!-- END RESERVATION INFO VIEW-->





          </div>  
        </div>
      </div>




    </div>
  </div>
  <br>
</div>

