<!--LOGIN CARD  -->
<div class="push"></div>

<div class="row" ng-if="refresh === false" id="registration-form-container">
  <div class="col l6 offset-l3 s10 offset-s1">
    <div class="card white">
      <div ng-hide="loginLoading === true">

        <div class="row">
          <div class="col s10 offset-s1">
            <br>
            <span class="card-title" class="thin">LOGIN:</span>
            <br>
            <br>
              <label for="loginUserEmail">E-Mail:</label>
              <input id="loginUserEmail" type="text" ng-model="loginUser.username"></input>
              <label for="loginUserPass">Password:</label>
              <input id="loginUserPass" type="password" ng-model="loginUser.password"></input>
            <br><br>

            <div class="row">
              <div class="col s6">
                <a class="waves-effect waves-light btn thin" style="width: 12em;" ng-click="login();" ng-class="{'disabled': loginLoading === true}"><i class="material-icons left">input</i>LOGIN</a>
              </div>
              <div class="col s6">
                <a class="waves-effect waves-light btn thin" ng-click="recoverPassword();"><i class="material-icons left">info_outline</i>FORGOT PASSWORD?</a>
              </div>
            </div>
            <div class="row" >
              <div class="col s6">
                <a class="waves-effect waves-light red btn thin" style="width: 12em;" ng-click="addNewUser()"><i class="material-icons left">mode_edit</i>REGISTER</a>
              </div>
            </div>
          <br>
        </div>

        <div class="col s6 offset-s2 error-text" ng-if="registrationError.length !== 0">
          <p>{{registrationError}}</p>
        </div>

        <div class="col s10 offset-s1" ng-show="loginLoading === true">
          <span>LOADING...</span><br><br>
          <img src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif" class="login-loading-wheel"/>
        </div>

      </div>
    </div>
  </div>
</div>