<div class="push"></div>

<div class="container">

<div class="row align center">
  <div class="col s12">
    <img class="responsive-img" src="http://i.imgur.com/1d2VE3v.jpg">
  </div>
</div>
  

  <div class="collection">
    <a href="#/" class="collection-item" style="background-color: #e0e0e0;">Go Back
    <i id="about-icon" class=" material-icons right">highlight_off</i>
    </a>
    <a class="collection-item active" id="facil" ng-click="selector('facil')">Our Facility</a>
    <a ng-click="selector('team')" class="collection-item" id="team">Our Team</a>
    <a ng-click="selector('faq')" class="collection-item" id="faq">FAQ</a>
    <a ng-click="selector('contact')" class="collection-item" id="contact">Contact Us</a>
  </div>

  <div class="facil-text" ng-if="select.facil">
    <h4 id="about-facil">About Our Facility:</h4>
    <hr>
    <p>A X,XXX square foot puppy palace for your furry friend.</p>
    <br>
    <p>Join us for an upcoming Yappy Hour, or give us a call at 508-429-1500 to schedule a vist.</p>
     <br>
     <div class="row align center">
       <div class="col s4"><img class="responsive-img" src="http://imgur.com/noHqGWr.jpg"></div>
       <div class="col s4"><img class="responsive-img" src="http://imgur.com/X4rcGNu.jpg"></div>
       <div class="col s4"><img class="responsive-img" src="http://i.imgur.com/jI4erZB.jpg"></div>
     </div>

     <div class="row align center">
       <div class="col s4"><img class="responsive-img" src="http://i.imgur.com/hmubREd.jpg"></div>
       <div class="col s4"><img class="responsive-img" src="http://i.imgur.com/PhewRte.jpg"></div>
       <div class="col s4"><img class="responsive-img" src="http://i.imgur.com/WfLZnwy.jpg"></div>
     </div>

     <div class="row align center">
       <div class="col s4"><img class="responsive-img" src="http://i.imgur.com/esoo74D.jpg"></div>
       <div class="col s4"><img class="responsive-img" src="http://i.imgur.com/XveA7HV.jpg"></div>
       <div class="col s4"><img class="responsive-img" src="http://i.imgur.com/8uRLYW8.jpg"></div>
     </div>
  </div>

  <div class="team-text" ng-if="select.team">
    <h4 id="about-team">About Our Team:</h4>
    <hr>
    <p>A healthy, safe, and comfortable home away from home for your pet</p>
   
  </div>

  <div class="faq-text" ng-if="select.faq">
    <h4 id="about-facil">Frequently Asked Questions:</h4>
    <hr>
    <br>
    <h5>What vaccines are required to stay at Holliston Meadows?</h5>
    <p>For dogs, we require proof of Distemper, DHLLP, rabies, bordetella and Canine Influenza vaccines. For cats, we require current FVRCP and rabies vaccinations.</p>

    <h5>What will my dog do while staying at Holliston Meadows?</h5>
    <p>We offer a variety of activities for your dog, individually tailored to his or her needs. Every dog that stays with us is fed twice a day and always has fresh, filtered water. All dogs are taken out 5 times a day individually. The first time they're let out is around 6am and the last time is usually after 7pm. Every cage is cleaned daily, with fresh bedding.</p>

    <h5>My dog is really active. Will he spend all his time in his room?</h5>
    <p>For more active dogs, we recommend adding a playtime to your stay. Playtime or all day play will include interaction with other dogs of similar size and temperament and is always supervised by our trained staff.</p>

    <h5>My dog is not suited for playtime, but I'd like him to get some activity each day. What do you offer?</h5>
    <p>If your dog needs more one-on-one time, we offer a personalized playtime. We also offer a nature walk through the woods, located just down the road from Holliston Meadows.</p>

    <h5>How big are the dog cages?</h5>
    <p>The cages vary in size, but are all at least approximately 5 feet wide and 6 feet long. There's enough room for a bed, a feeding station and some extra space for your dog to get up and stretch its legs and move around.</p>

    <h5>What is the Presidential Suite like?</h5>
    <p>The Presidential Suite is a over-sized run with big, comfy furniture. It also has a throw rug, dog-inspired artwork on the walls and a giant box of toys to play with. The Presidential Suite also comes with two playtimes of 30 minutes each.</p>

    <h5>What will my cat be doing during the day?</h5>
    <p>We show movies in the cat room daily, including such movies as "Stuart Little," "The Incredible Journey," as well as cat-sitter movies featuring birds and bugs. Also, keep in mind that A La Carte services are also available for cats!</p>

    <h5>What can you tell me about the staff that will be looking after my pet?</h5>
    <p>All of our staff are rigorously trained prior to starting work with us. Every one of them is a pet owner themselves, so they all love and understand animals.</p>

    <h5>What can you tell me about the building?</h5>
    <p>Holliston Meadows is a family owned and run facility. The building is designed by a veterinary architect with heating and cooling designed to keep the animals comfortable regardless of the season. Every animal is given filtered water, and we have classical music playing throughout the day to help keep everyone relaxed and calm.</p>

    <h5>When can I drop my pet off?</h5>
    <p>Our regular drop-off hours are Monday through Friday, 8am to 5pm. On Saturday, we're open 8am to 2pm, and Sunday from 9am to 5pm. You are welcome to drop off anytime during those hours.</p>

    <h5>Can I check in on my pet during his stay?</h5>
    <p>Of course you can. Feel free to call during regular business hours and our staff will be happy to give you an update. For a small additional fee, we can also e-mail you photos of your animal playing, relaxing and enjoying his vacation.</p>

    <h5>What if my pet gets injured or sick?</h5>
    <p>Holliston Meadows is associated with the Holliston Animal Hospital. If anything happened to your pet during their time with us, we have a veterinarian on-call 24 hours a day. We also have staff on-site 24 hours a day to provide maximum care.</p>

    <h5>My animal requires daily medication. Can that be given during their stay?</h5>
    <p>We can give any medication required during your pet's stay with us for a small additional fee.</p>

    <h5>My pet is on a special diet. Can I bring my own food?</h5>
    <p>You are certainly welcome to bring your own food. We monitor every animal's food intake during their stay and if they are having any stomach discomfort, we will take steps to ensure they're feeling better in no time. But if they're already on a special diet or are used to a particular brand of food, we're happy to feed them that.</p>

    <h5>Is there anything I should bring when my pet comes to board?</h5>
    <p>Nope. We provide bedding as well as food. But if your pet would feel more comfortable with a toy that reminds them of home, feel free to bring it and we'll make sure it stays with your pet during their stay.</p>

    <h5>Should I make a reservation?</h5>
    <p>Yes, keep in mind that we do often book full during summer, around the holidays, many weekends and any school vacations. To make a reservation, e-mail us at <a href="mailto:info@hollistonmeadows.com">info@hollistonmeadows.com</a>, or call us at 508-429-1500.</p>

    <h5>How far in advance should I make a reservation?</h5>
    <p>We recommend that you make a reservation as soon as you know that you're going to be out of town. There is no charge to cancel a reservation if your plans change.</p>

  </div>
  <div class="contact-text" ng-if="select.contact">
    <h4 id="about-facil">Contact Us:</h4>
    <hr>
    <p>A healthy, safe, and comfortable home away from home for your pet</p>
  </div>

</div>
<div class="push"></div>
<div class="push"></div>
<div class="push"></div>
<div class="push"></div>
<div class="push"></div>
<footer></footer>



